/* 全体のスタイル */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* 共通 */
.titles {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 60px auto;
}

/* ヘッダーのスタイル */
header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #2e2d2b;
  color: #fff;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
.logo img {
  margin-right: auto;
  width: 100px;
}
.menu-item {
  display: inline-block;
  padding: 10px;
}

/* メインビジュアル */
.main-visual {
  position: relative;
}
.main-visual-img {
  width: 100%;
  height: 680px;
}
.main-visual-copy {
  font-size: 80px;
  color: #fff;
  position: absolute;
  top: 130px;
  left: 50px;
}

/* サービスセクション */
.service-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.service img {
  width: 550px;
}

/* Aboutセクション */
.about-group {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.about-item {
  width: 35%;
}

.about-text {
  display: flex;
  align-items: center;
  width: 400px;
}

/* Contentsセクション */
.contents {
  padding-bottom: 100px;
}
.contents-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 0 150px;
}

.contents-item {
  flex: 1 1 calc(50% - 20px);
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
}

.contents-item h3 {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
}

.contents-item p:last-of-type {
  text-align: right;
  margin-top: 10px;
}

/* フッター */
.footer {
  width: 100%;
  background-color: #2e2d2b;
  height: 300px;
  color: #fff;
}

.footer-group {
  display: flex;
  justify-content: center;
}