@charset "UTF-8";

/* 全体のスタイル */
html {
  font-size: 16px;
  color: #2e2d2b;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-size: 16px;
}

/* 共通 */
.group {
  margin: 0 auto;
  max-width: 1200px;
}
.titles {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
}

section {
  padding: 80px;
}

section:nth-of-type(odd) {
  background-color: #f5f5f5;
}

/* ヘッダーのスタイル */
header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #2e2d2b;
  color: #fff;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0 20px;
}

.nav {
  margin-left: auto; /* nav要素を右揃えにする */
}

.logo img {
  margin-right: auto;
  width: 100px;
}
.menu-item {
  display: inline-block;
  padding: 10px;
}

/* メインビジュアル */
.main-visual {
  position: relative;
}
.main-visual-img {
  width: 100%;
  height: 680px;
}
.main-visual-copy {
  font-size: 80px;
  color: #fff;
  position: absolute;
  top: 130px;
  left: 50px;
}

/* Pointsセクション */
.points-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.points-item {
  width: 400px;
}

.points-item h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.points-item p {
  text-align: justify;
}

.points-item {
  margin: 2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.points-item:before,
.points-item:after {
  content: "";
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}
.points-item:before {
  left: 10px;
}
.points-item:after {
  right: 10px;
}
.points-item p {
  margin: 0;
  padding: 0;
}


/* サービスセクション */
.service-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.service-item {
  border: 1px solid #f5f5f5;
  max-width: 500px;
  text-align: center;
  padding: 30px;
  box-shadow:
  -10px 10px 25px rgba(255, 165, 0, 0.5),
  10px -10px 25px rgba(24, 148, 156, 0.5)
}

.service-item img {
  width: 100%;
}

.service-item h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px auto;
}

.service-item p {
  margin: 30px 30px 50px 30px;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;

  background: #fff;
}

a.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 3px solid #000;
  border-radius: 0.5rem;
}

a.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

a.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}

a.btn-border-shadow--color2 {
  border-radius: 100vh;
}

a.btn-border-shadow--color2:before {
  border-radius: 100vh;
  -webkit-box-shadow: 3px 3px 0 #78e5e5;
  box-shadow: 3px 3px 0 #78e5e5;
}

/* Messageセクション */
.message-group {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.message-item {
  width: 35%;
}

.message-text {
  display: flex;
  align-items: center;
  width: 400px;
}

/* priceセクション */
.price-group img {
  text-align: center;
  max-width: 100%;
}

/* reservationセクション */
.reservation p {
  text-align: center;
  margin-bottom: 100px;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 150px;
}

/* ボタン */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-svg {
  font-weight: 700;
  line-height: 54px;

  width: 204px;
  height: 54px;
  padding: 0;

  cursor: pointer;
  text-decoration: none;

  background-color: transparent;
}

a.btn-svg svg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

a.btn-svg svg rect {
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;

  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 200px, 16px;
  stroke-dashoffset: 70px;
}

a.btn-svg:hover svg rect {
  stroke-dashoffset: 284px;
}

a.btn-svg span {
  color: #000;
}

/* Contentsセクション */
/* .contents {
  padding-bottom: 100px;
}
.contents-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.contents-item {
  flex: 1 1 calc(50% - 20px);
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
}

.contents-item h3 {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
}

.contents-item p:last-of-type {
  text-align: right;
  margin-top: 10px;
} */

/* フッター */
.footer {
  width: 100%;
  background-color: #2e2d2b;
  color: #fff;
  display: flex;
  flex-direction: column; /* 上下に要素を配置 */
  align-items: center; /* ロゴを中央揃え */
  padding: 20px 0;
}

.footer-logo {
  width: 300px;
  margin-bottom: 30px;
}

.footer-group {
  display: flex;
  justify-content: space-between; /* コンテンツを左右に配置 */
  width: 100%;
  max-width: 1200px; /* フッター全体の幅を制限 */
  padding: 0 200px;
}

.footer-link,
.footer-contact {
  flex: 1; /* 左右に均等に広がる */
  text-align: left; /* 左揃え */
}

.footer-contact {
  text-align: right; /* 右揃え */
}

.footer-link ul {
  padding: 0;
}

.footer-link ul li {
  margin-bottom: 10px;
}
