/* 全体のスタイル */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* 共通 */
.titles {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
}

section {
  padding: 80px;
}

/* ヘッダーのスタイル */
header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #2e2d2b;
  color: #fff;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0 20px;
}

.nav {
  margin-left: auto; /* nav要素を右揃えにする */
}

.logo img {
  margin-right: auto;
  width: 100px;
}
.menu-item {
  display: inline-block;
  padding: 10px;
}

/* メインビジュアル */
.main-visual {
  position: relative;
}
.main-visual-img {
  width: 100%;
  height: 680px;
}
.main-visual-copy {
  font-size: 80px;
  color: #fff;
  position: absolute;
  top: 130px;
  left: 50px;
}

/* サービスセクション */
.service-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.service img {
  width: 400px;
}

/* Aboutセクション */
.about {
  background-color: #f5f5f5;
}
.about-group {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.about-item {
  width: 35%;
}

.about-text {
  display: flex;
  align-items: center;
  width: 400px;
}

/* Contentsセクション */
.contents {
  padding-bottom: 100px;
}
.contents-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.contents-item {
  flex: 1 1 calc(50% - 20px);
  max-width: 350px;
  padding: 20px;
  box-sizing: border-box;
}

.contents-item h3 {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
}

.contents-item p:last-of-type {
  text-align: right;
  margin-top: 10px;
}

/* フッター */
.footer {
  width: 100%;
  background-color: #2e2d2b;
  color: #fff;
  display: flex;
  flex-direction: column; /* 上下に要素を配置 */
  align-items: center; /* ロゴを中央揃え */
  padding: 20px 0;
}

.footer-logo {
  width: 300px;
  margin-bottom: 30px;
}

.footer-group {
  display: flex;
  justify-content: space-between; /* コンテンツを左右に配置 */
  width: 100%;
  max-width: 1200px; /* フッター全体の幅を制限 */
  padding: 0 200px;
}

.footer-link,
.footer-contact {
  flex: 1; /* 左右に均等に広がる */
  text-align: left; /* 左揃え */
}

.footer-contact {
  text-align: right; /* 右揃え */
}

.footer-link ul {
  padding: 0;
}

.footer-link ul li {
  margin-bottom: 10px;
}